
    <form action="/" method="post">
        <input type="text" name="ci" placeholder="cedula">
        <input type="password" name="password" placeholder="contraseña">
        <button type="submit">Entrar</button>
    </form>
